@font-face {
    font-family: 'ulsanjunggu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ulsanjunggu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SF_IceMango';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceMango.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'MICEGothic Bold';
    font-weight: 700;
    font-style: normal;
}

body,h1,p,ul,li,h4,figure{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    overflow-x: hidden;
}
.top_menu{
    width: 100vw;
    height: 50px;
    background: #000;
    grid-template-areas: "logo menu";
}
.top_menu ul{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.top_menu ul li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.top_menu ul li img{
    width: 30px;
    height: 30px;
    padding: 0 5px;
    object-fit: cover;
}
.logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    height: 30px;
    font-weight: 600;
    align-items: center;
    font-size: 18px;
    font-family: 'ulsanjunggu';
    padding: 10px;
}
.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.banner_img{
    width: 100%;
}
.banner_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.today_title{
    display: flex;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    margin: 7px 0px;
}
.today_title img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.all_item{
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    padding: 0 10px;
}
.today_fresh_item{
    overflow-x: scroll;
    display: flex;
}
.today_fresh_item::-webkit-scrollbar{
    display: none;
}
.today_fresh_item div{
    width: 150px;
    height: 120px;
    margin: 10px;
}
.today_fresh_item div img{
    width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}
.search_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    position: relative;
}
.search_box input{
    width: 90%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
}
.magnifier{
    position: absolute;
    left: 20px;
    top: 10px;
    width: 20px;
    height: 20px;
}
.zang_menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "zang1 zang2 zang3 zang4" "zang5 zang6 zang7 zang8";
    /* width: 100%; */
    height: 100%;
    margin: 7px 0px;
    font-family: 'SF_IceMango';
    font-weight: 600;
}
.zang_menu figure{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 5px 0px;
    font-size: 11px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
}
.zang_menu figure img{
    width: 100%;
    height: 50px;
    object-fit: contain;
    border-radius: 7px;
}
.seejang_food{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    cursor: pointer;
}
.seejang_food img{
    width: 98%;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
}
.seejang_ddul_title{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 18 px;
}
.seejang_ddul_title img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.seejang_ddul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 0px;
}
.seejang_ddul img{
    width: 100%;
    object-fit: cover;
}
.seejang_ddul img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.spon{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    cursor: pointer;
}
.spon img{
    width: 100%;
    box-shadow: 0px 0px 10px #ccc;
}
.footer_menu{
    padding: 5px 0px;
}
.footer_menu ul{
    display: flex;
    justify-content: space-around;
    font-size: 9px;
}
.job_info{
    padding: 5px 8px;
}
.agree{
    padding: 3px 8px;
    font-size: 11px;
}
.item_detail{
    position: fixed;
    background: #000;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
    animation: left_to_right 0.5s;
}
.item_img{
    margin-top: 7px;
    width: 95%;
    border-radius: 7px;
    height: 300px;
}
.item_title{
    width: 93%;
    background-color: aliceblue;
    margin-top: 10px;
    padding: 2%;
    color: black;
    border-radius: 7px;
    font-size: 22px;
}
.item_desc{
    line-height: 1.5;
    margin-top: 10px;
    width: 95%;
    color: white;
    font-size: 14px;
}
.close_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close_btn_text{
    color: black;
}
@keyframes left_to_right{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes move_left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}